{% extends 'base.html.twig' %}

{% block body %}

<h1 class="text-center"> Creer un nouveau bien  </h1>
<div class="container mt-4">
      {{ include( 'admin/property/_form.html.twig', {form: form, button: 'Ajouter'})  }}
    

</div>

{% endblock %}